.applying-card-li {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.applying-component-header .title {
    font-size: 1.25rem; /* 20px */
    font-weight: bold;
    color: #333;
}

.applying-component-header .status span {
    font-size: 1rem; /* 16px */
    color: #555;
}

.applying-component-body .content-detail-wrap {
    align-items: center;
    margin-bottom: 0.5rem;
}

.applying-component-body .content-text {
    margin-left: 0.5rem;
    color: #666;
}

.applying-component-body p.content-text {
    white-space: pre-wrap; /* PR 내용 줄바꿈 유지 */
} 