.applying-view-container {
    padding-bottom: 80px; /* 버튼 공간 확보 */
}

.applying-view-top {
    border-bottom: 1px solid #e5e7eb;
}

.view-title h1 {
    color: #1F364A;
}

.applying-user-info span {
    font-size: 0.875rem; /* 14px */
    color: #6b7280;
}

.content-info-title h1 {
    color: #1F364A;
}

.content-info .info-detail {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.content-info .info-detail svg {
    margin-right: 0.5rem;
}

.content-info .detail-title {
    font-weight: 600;
    color: #333;
    min-width: 80px; /* 타이틀 너비 고정 */
}

.content-info .detail-description {
    color: #555;
    margin-left: 0.5rem;
    flex: 1;
}

.pr-content-detail {
    flex-direction: column;
    align-items: flex-start;
}

.pr-content-detail .detail-description {
    margin-top: 0.5rem;
    margin-left: 0; /* PR 내용은 왼쪽 정렬 */
    white-space: pre-wrap; /* 줄바꿈 유지 */
} 