ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    color: inherit;
}

/*모집글 LIST*/

.component-header-left {
    display: inline-flex;
    align-items: center;
}

.component-header-left .title {
    font-size: 1.1rem;
    font-weight: bold;
    color : #1F364A;
    align-items: center;
}

.simply-location {
    display: inline-flex;
    align-items: center;
    margin-top: 0.5rem;
    color : #1F364A;
    font-size: 0.7rem;
}

.content-detail-wrap {
    display: flex;
    margin-bottom: 0.3rem;
}
.content-detail-wrap svg{
    margin-right: 0.3rem;
}

.content-text {
    color : #1F364A;
    font-size: 0.9rem;
    margin-left: 0.3rem;
}

.highlight-text {
    color : #f0bfbd;
    font-weight: bold;
    margin-right: 0.3rem;
}

.posting-tag {
    display: inline-flex;
    border-radius: 8px;
    background-color: #ecf0f1;
    font-size: small;
    color: #515867;
    padding: 0.3rem 0.8rem;
    white-space: nowrap;
    margin-right: 0.3rem;
}

/*모집글 상세페이지*/
.divide {
    padding: 0;
    border:none;
    margin-bottom: 1rem;
    height:10px;
    background-color: #ecf0f1;
}

.info-detail {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    margin-bottom: 1rem;
}

.info-detail .detail-title {
    font-size: 1rem;
    white-space: nowrap;
    margin-right: 0.5rem;
}

.info-detail .detail-description {
    white-space: normal;
    word-break: break-word;
}

